@tailwind base;
@tailwind components;
@tailwind utilities;

.logo svg{
    height: 3vh;
    width: 5vw;
}
.heading{
    font-family: 'Segoe UI';
}
/* .hover-items button:hover .hover-items img{
    scale: 1.1;
} */